doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width,height=device-height,initial-scale=1.0')
    link(rel='stylesheet', type='text/css', media='screen and (min-width: 320px) and (max-width: 568px)', href='/stylesheets/portrait.css')
    link(rel='stylesheet', type='text/css', media='screen and (min-width: 568px) and (max-width: 667px)', href='/stylesheets/landscape.css')
    link(link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    //- link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', media='screen and (min-width: 800px)', href='stylesheets/style.css')
    //- script(type='text/JavaScript', src='./i18n/js/jquery.i18n.properties.js')
    //- script(src='./FormHelpers/js/bootstrap-formhelpers-countries.js')
  body
    block navbar
      nav.navbar.navbar-inverse
            .container-fluid
              .navbar-header
              ul.nav.navbar-nav
                li.active
                  div
                select#sel 
                 option(value='en') English
                 option(value='fr') Francais
                a(href='/home' class='lang hom' id='home' key='Home') Home
                li
                if user
                  a(href='/userlist' class='lang' id='user' key='User List') User list 
                li
                if !user 
                  a(href='/register' class='lang' id='reg' key='Register') Register
                li
                if !user
                  a(href='/login' class='lang' id='log' key='Login') Login
                li
                if user
                  a(href='/logout' class='lang' id='out' key='Logout') Logout
              if user
               input(type='text' class='lang' placeholder='Search', id='search' key='Search')
      #container
       if success_msg
         each msg, i in success_msg
          .alert.alert-success(class='lang', key='#{success_msg}') #{success_msg}
       if error_msg
         each msg, i in error_msg
          .alert.alert-danger(class='lang', key='#{error_msg}') #{error_msg}
        if error
          each msg, i in error
           .alert.alert-danger(class='lang', key='#{error}') #{error}
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/JavaScript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(type='text/JavaScript', src="/javascripts/js.cookie.js")
    script(type='text/JavaScript', src='/javascripts/arrLang.json')
    script(type='text/JavaScript', src='/javascripts/languages.js')
    script(type='text/JavaScript', src='/javascripts/global.js')
  block content
